@import url('https://fonts.googleapis.com/css?family=Fjalla+One');



		body{
				background-color: #000;
				margin: 0em;
				font-family: "Fjalla One", verdana, san-serif;
				letter-spacing:0.08em;
		}
		
		h1{
			font-size: 1em;
			font-family: "Fjalla One", verdana, san-serif;			
		}

		.ccc{	
			text-align: center;
			margin-left: 10%;
		}
	
		/*-------------Menu---------------*/
		
		header{
			font-family: "Fjalla One", verdana, san-serif;
			position: fixed;
			top:0;
			z-index:1;
			border-bottom: 0.07em solid #dfc111;
			width: 100%;
			background-color: #000;
			margin-top: 0;
			padding:0.5em 0.5em;
		}
		
		nav{
			margin-right: 11%;			
			}
					
		/*.logo{
			/* float: right; 
			display: inline;
			border-bottom: 0.8vh solid #dfc111;
		}*/
		
	#Menu ul {
			padding:0.2em;
			margin:0em;
			list-style:none;
			text-align:center;
			margin-left: auto;
			margin-right:auto;
			float: right;
			z-index:1;
		}
			
	#Menu ul li {
			display: inline-block; 
			padding: 0.9em 3.5em;
			font-size: 1.6em;
			z-index:1;
			}
			
	#Menu ul li a {
			padding: 0.4em 0.5em 0.18em 0.5em;
			display: inline-block;
			color: #dfc111;
			text-decoration: none;
			border-bottom: 0.04em solid #000;
				}

	#Menu ul li a:hover {
			color: #fff;
			border-bottom: 0.04em solid #fff;
                }			
	
	#Menu a:visited{
			text-decoration:none;
	}

		.logo{
			margin-left: 5%;
			height: 3em;
			float: left;
			padding: 0.8em 0.2em 0.5em 0em;	
			transition: 0.65s ease-in-out;			
		}
		
		.logo:hover{
			transform: scale(1.1);	
		}
	
		/*------------fimMenu-------------*/

		.b1 .b2 .b3 .b4{
			position: relative;				
			text-align:center;
			display: inline;
			margin:0;
		}

		div.b1:first-child{
			margin-bottom: 0em;
			height:auto;
			padding: 0% 0%;
			width: 100%;
			border-bottom: 0.07em solid #dfc111;
		}
		
		.box:nth-child(3){
			background-color: #000;
			color:#dfc111;
		}
			
		.box{	
			width:100%;
			height: 40em;
			padding: 0em;
			font-family: "Fjalla One", verdana, san-serif;
			background-color: #dfc111;
			margin:0;
			}
			
	
	/*---------------JAVASCRIPT--------------------*/
		.mySlides {
			text-align:center;			
			height:43em;
			width:100%;
			margin-top:2em;
			transition: feidout;
			border-bottom: 0.07em solid #fff;			
		}
	
		.slide{
			margin-left:auto;
			margin-right:auto;
			transition: 0.2s feidout;
		}
		
		/*==============ScrollBar============*/
												
				/* Largura da barra de rolagem */
		::-webkit-scrollbar {
			width: 1em;
		}

				/* Fundo da barra de rolagem */
		::-webkit-scrollbar-track-piece {
			background-color: #000;
			border-left: 0.2em solid #fff;
		}

				/* Cor do indicador de rolagem */
		::-webkit-scrollbar-thumb,
		::-webkit-scrollbar-thumb {
			background-color: #dfc111;
			border-left: 0.2em solid #fff;
		}
			
		/*================= icones ==============*/
		
		#redes{				
			margin-top: 5em;
			text-align: center;
			
			
			/*position:fixed;		
		    z-index:1;*/
		}
		
		.icones{
			height:4em;
			width:4em;
			padding: 0.7em;
			margin: 0em 1.8em 2.7em 1.8em;
			transition: 0.6s ease-in-out;
		}
		
		.fot{
			color: #717171;
			float: right;
		}
			
		.cent{
			text-align: center;
		}
			
		.icones:hover{
			transform: scale(1.2);
		}
			
		/*================= TABELAS ==============*/
		
				
		table, th, td {		
			padding: 0.5em;
			margin-left:auto;
			margin-right:auto;
			text-align: justify;
		}
	
		h2{	
			text-align:center;
			padding: 2.5em 0.3em 0.2em 0.4em;
			margin-top:0em;
		}
			
		/* CSS MENU MOBILE
		.topnav {
				 
				  position: fixed;
				  z-index:30;
				  overflow: hidden;
				  background-color: #000;
				  margin-left: auto;
				  margin-right: auto;
				  padding-left: 25%;
				  text-align: center;
		}

		.topnav a {
				  float: left;
				  display: inline;
				  color: #fff;
				  text-align:center;
				  padding: 14px 16px;
				  text-decoration: none;
				  font-size: 1px;
		}

		.topnav a:hover {
				  background-color: #dfc111;
				  color: white;
		}

		.topnav .icon {
				display: none;
		}
